body {
	padding-top: 51px;
}

.jumbotron {
	background-color: White;
}

.book, 
.rock, 
.library,
.work{
	background-repeat: no-repeat;
	background-position: center;
	/*color: #fff; font color*/
	background-color: white;
	margin-bottom: 0;
	min-height: 695px;
}

.book .container h1, 
.rock .container h1, 
.library .container h1{
	color: black;
}

.book {
	background-image: url("image/book-m.jpg");
}

.rock {
	background-image: url("image/rock-m.jpg");
}
.library {
	background-image: url("image/pencil.jpg");

}

.library .container h4,
.library .container h2{
	line-height: 0.6;
	color: black;
}

span {
	color: #E8E8E8;
}

footer {
	position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: #222;
    color: #9d9d9d;
    border-top: .1em solid #101010;
}


h2, 
h4 a, 
h2 a, 
h3 a{
	color: inherit;
	text-decoration: none;
}

.foot {
	display: inline-table;
	margin-right: 5px;
	margin-left: 5px;
}

.work {
	min-height: 2400px;
}


